@import url(animate.css)
@import url(jquery.booklet.latest.css)
body
  font-family: 'Open Sans', sans-serif
  background: radial-gradient(#FFF4FB, #830023)
  background: -webkit-gradient(#FFF4FB, #830023)
  background: -moz-gradient(#FFF4FB, #830023)
  background: -o-gradient(#FFF4FB, #830023)
  background: -ms-gradient(#FFF4FB, #830023)

#contra
  background: black

/***********PAGINA2*******************/
.corazonpag1
  width: 161px
  height: 151px
  background: url(../img/corazon-porta-1.png) no-repeat
  display: inline-block
  position: absolute
  z-index: 1
  top: 20px
  left: 20px
  transition: background.8s
  -webkit-transition: background.8s
  -moz-transition: background.8s
  -o-transition: background.8s
  -ms-transition: background.8s

.corazonpag1:hover
  /*width: 161px;
    height:151px;*/
  background: url(../img/corazon-porta-1-hover.png) no-repeat

.corazonpag2
  width: 133px
  height: 124px
  background: url(../img/corazon-porta-2.png) no-repeat
  display: inline-block
  position: absolute
  z-index: 1
  top: 40px
  left: 350px
  transition: .8s
  -webkit-transition: .8s
  -moz-transition: background.8s
  -o-transition: background.8s
  -ms-transition: background.8s

.corazonpag2:hover
  width: 133px
  height: 124px
  background: url(../img/corazon-porta-2-hover.png) no-repeat
  position: absolute
  top: 40px
  left: 300px

.corazonpag3
  width: 109px
  height: 103px
  background: url(../img/corazon-porta-3.png) no-repeat
  display: inline-block
  position: absolute
  top: 250px
  left: 200px
  transition: .8s
  -webkit-transition: .8s
  -moz-transition: background.8s
  -o-transition: background.8s
  -ms-transition: background.8s

.corazonpag3:hover
  width: 161px
  height: 151px
  background: url(../img/corazon-porta-3-hover.png) no-repeat
  position: absolute
  top: 250px
  left: 180px

.corazonpag4
  width: 99px
  height: 96px
  background: url(../img/corazon-porta-4.png) no-repeat
  display: inline-block
  position: absolute
  z-index: 1
  top: 250px
  left: 40px
  transition: .8s
  -webkit-transition: .8s
  -moz-transition: background.8s
  -o-transition: background.8s
  -ms-transition: background.8s

.corazonpag4:hover
  width: 99px
  height: 96px
  background: url(../img/corazon-porta-4-hover.png) no-repeat
  top: 230px
  left: 20px

/***********PAGINA3*******************/
.ImageCorazon
  position: absolute
  padding-right: 16px
  right: 0

.mostrar
  display: none

.boton1
  width: 100px
  height: 100px
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  -ms-border-radius: 50%
  position: absolute
  top: 49px
  left: 55px
  background: white
  box-shadow: 1px 1px 14px rgba(255,255,255,0.2)

.botonFaros
  width: 30px
  height: 30px
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  -ms-border-radius: 50%
  position: absolute
  top: 370px
  left: 154px
  background: rgba(255,255,255,0.1)
  transition: background .8s
  -webkit-transition: background .8s
  -moz-transition: background.8s
  -o-transition: background.8s
  -ms-transition: background.8s
  
.botonFaros:hover
  background: url(../img/luz-portada.png)no-repeat
  width: 337px
  height: 232px
  position: absolute
  top: 365px
  left: -7px

.pareja
  position: absolute
  top: 426px
  left: 255px

/***********PAGINA4*******************/
.corazonmelon
  background: url(../img/corazon-pag4.png)
  width: 111px
  height: 99px
  position: absolute
  bottom: 14px
  left: 36px
  z-index: 2
  transition: background 0.8s
  -webkit-transition: background 0.8s
  -moz-transition: background.8s
  -o-transition: background.8s
  -ms-transition: background.8s

.corazonmelon:hover
  background: url(../img/corazon-pag4-hover.png)
  width: 111px
  height: 99px

.fotoPag4
  position: absolute
  top: 40px
  left: 20px
  z-index: 2

.fotoPag4-2
  position: absolute
  top: 287px
  left: 251px
  z-index: 2

.ErrorEfect
  position: absolute
  z-index: 1

/**************PAGINA 5*******************************/
.bbllora
  width: 91px
  height: 101px
  background: rgba(255,255,255,0.01)
  position: absolute
  top: 250px
  left: 109px

.bbllora:hover
  background: url(../img/luz-pag-5-llora.png)
  width: 255px
  height: 329px
  position: absolute
  top: 0
  left: 15px

/****************pagina6*****************************/
.fotoRecuerdo
  position: absolute
  top: 202px
  left: 153px
  box-shadow: 1px 1px 20px rgba(0,0,0,0.5)
  -webkit-box-shadow: 1px 1px 20px rgba(0,0,0,0.5)
  -moz-box-shadow: 1px 1px 20px rgba(0,0,0,0.5)
  -o-box-shadow: 1px 1px 20px rgba(0,0,0,0.5)
  -ms-box-shadow: 1px 1px 20px rgba(0,0,0,0.5)
/********************pagina7*****************/
.LunaLunera
  width: 285px
  height: 285px
  background: rgba(255,255,255,0.01)
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  -ms-border-radius: 50%
  position: absolute
  bottom: 90px
  left: 107px

.ContentLuna
  width: 440px
  height: 200px
  color: white
  font-size: 25px
  font-style: italic
  text-align: center
  position: absolute
  top: 20px
  left: 20px

/********************pagina8*****************/
.BesoCorazon
  position: absolute
  top: 30px
  left: 30px

.coraloco
  display: inline-block

/********************pagina9*****************/
.SalSolcito
  background: rgba(255,255,255,0.01)
  width: 150px
  height: 150px
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -o-border-radius: 50%
  -ms-border-radius: 50%
  position: absolute
  top: 148px
  left: 84px

.ContentSol
  width: 440px
  height: 200px
  color: black
  font-size: 22px
  text-align: center
  position: absolute
  top: 428px
  left: 20px

/********************contraportada*****************/
.parejacontra
  position: absolute
  top: 278px
  left: 246px

.contenText
  color: white
  font-size: 16px
  text-align: center
  line-height: 23px
  width: 440px
  position: absolute
  top: 424px
  left: 20px

.final
  position: relative
  font-weight: normal
  top: 30px
  right: -165px

.banquitaFinal
  background: rgba(255,255,255,0.01)
  width: 145px
  height: 62px
  position: absolute
  top: 351px
  left: 226px

.arbolCorazon
  background: rgba(255,255,255,0.01)
  width: 279px
  height: 200px
  position: absolute
  top: 28px
  left: 0

.b-wrap .b-counter
  background-color: #3c5c6a
  margin-left: 40%
  margin-right: 40%
  color: #fff

#wrapper
  padding-top: 40px

#in_go
  width: 40px
  margin-right: 10px

